{% extends 'store/layout.html' %}
{% load static %}

{% block title %}
    Store
{% endblock title %}
    
{% block body %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img src="{{ product.get_image_url }}" class="thumbnail" alt="placeholder">
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-success add-btn">Add to Cart</button>
                    <a class="btn btn-outline-secondary" href="#">View</a>
                    <h4 class="price">${{ product.price|floatformat:2 }}</h4>
                </div>
            </div>
        {% empty %}
            <h4>No products available.</h4>
        {% endfor %}
    </div>
{% endblock body %}